body {
  overflow: hidden ;

}

#mainCanvas{
  z-index: -998;
}

@font-face {
  font-family: 'Share Tech', sans-serif;
}

.textSetup{
  font-family: Share Tech;
}

@keyframes animateIn {
  0%{
    display: none;
    width: 0%;
    height: 0%;
  }
  1%{
    display: block;
    width: 0%;
    height: 0%;
  }
  100%{
    display: block;
    width: 80%;
    height: 90%;
  }
}

@keyframes animateOut {
  0%{
    display: block;
    width: 80%;
    height: 90%;
  }
  99%{
    display: block;
    width: 0%;
    height: 0%;
  }
  100%{
    display: none;
    width: 0%;
    height: 0%;
  }
}

.hidden{
  display: none;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: grab;
  cursor: -webkit-grab;
}

.mainButton {
  height: 100px;
  width: 100px;
  border: 3px solid;
  background-color: #101010;
  border-color: #c7a230;
  border-radius: 100%;
  transition: background-color .5s;
}

.mainButton:hover{
  background-color: #bbb;
  border-color: #fff;
}

.mainButton i {
  pointer-events: none;
}

.leftButton{
  float: left;
}

.rightButton{
  float: right;
  margin-right: 0;
}

.topButton{
  margin-top: 20px;
}

.midButton{
  clear: both;
  margin-top: 340px;
}

.botButton{
  clear: both;
  margin-top: 680px;
}
.animateIn {
  animation-name: animateIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.animateOut {
  animation-name: animateOut;
  animation-duration: 0.5s;
  animation-fill-mode: normal;
  animation-iteration-count: 1;
}

.lightbox{
  background-color: #000 ;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  width: 80%;
  height: 90%;
  border: 4px solid #2d2500;
  opacity: .9;
  z-index: 3;
  transition: width 2s;

}

.topBar {
  background-color: #2d2500;
  width: 100%;
  height: 40px;
  opacity: 1;
}

.close{
  height: 90%;
  width: 60px;
  padding-left: 20px;
  padding-top: 5px;
  background-color: #000;
}

.close i {
  pointer-events: none;
}

.twoPanel{
  background-color: #333;
  margin: 0 auto;
  margin-top: 1.5%;
  width: 96%;
  height: 90%;
  overflow: hidden;
}

.panel{
  height: 96%;
  width: 49%;
  margin-top: 1%;
  background-color: #fff;
}

.leftPanel {
  float: left;
  overflow-y: scroll;
}

.rightPanel {
  float: right;
}
.panelImage {
  width: 100%;
  float: left;
  padding-left: 10px;
}

.filmAbout {
  margin-top: 1%;
  margin-left: 2%;
  height: 48%;
  width: 96%;
  background-color: grey;
}

.filmCompany {
  height: 55%;
  float: right;
  border-left: 3px solid grey;
  border-top: 3px solid grey;
}

.filmDesc{
  margin-top: 1%;
  margin-left: 2%;
  height: 48%;
  width: 96%;
  font-size: 30px;
}

.aboutTop{
  width: 96%;
  height: 49%;
  margin-top: 1%;
  margin-left: 2%;
  background-color: #efefef;
  overflow: hidden;
}

.aboutBottom{
  width: 96%;
  height: 48%;
  margin-top: 1%;
  margin-left: 2%;
  background-color: #efefef;
  overflow: hidden;
}

.aboutName {
  float: left;
  width: 60%;
  font-size: 100px;
  margin-top: 3%;
}

.aboutJobs {
  float: left;
  width: 60%;
  font-size: 50px;
  margin-left: 5%;
}

.aboutImg{
  float: right;
}

.aboutDesc {
  font-size: 30px;
  overflow: scroll;

}

.street{
  display: none;
}

.label{
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #c7a230;
  font-family: Share Tech;
  font-size: 40px;
}

.textbox{
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-bottom: 2px solid #c7a230;
  font-size: 14px;
  height: 45px;
  font-family: Share tech;
  color: #fff;
}

.msgBox{
  height: 100%;
  resize: none;
}

.textbox:focus{
  background-color: rgba(0,0,0,0.5);
}

.submit{
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #c7a230;
  font-family: Share Tech;
  font-size: 40px;
}
